USE [master]
GO
/****** Object:  Database [environment-app]    Script Date: 31/05/2018 20:53:11 ******/
CREATE DATABASE [environment-app]

GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [environment-app].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [environment-app]
GO
/****** Object:  UserDefinedFunction [dbo].[interacciones_por_sucursal]    Script Date: 31/05/2018 20:53:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[interacciones_por_sucursal](@sucursal_id int)
RETURNS int
AS
BEGIN
	declare @total int;

	SELECT @total = count(interactions.id)
	from interactions
	inner join instance_message on instance_message.id = interactions.instance_message_id
	inner join instances on instances.id = instance_message.instance_id
	inner join establishments on establishments.id = instances.establishment_id
	where establishments.id = @sucursal_id;
	return @total;

END

GO
/****** Object:  UserDefinedFunction [dbo].[mensaje_mas_clickeado]    Script Date: 31/05/2018 20:53:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[mensaje_mas_clickeado](@application_id int)
RETURNS nvarchar(100)
AS
BEGIN
	declare @mensaje nvarchar(100);
	select top 1 @mensaje = messages.title
	from interactions
	inner join instance_message on instance_message.id = interactions.instance_message_id
	inner join messages on messages.id = instance_message.message_id
	inner join applications on applications.id = messages.application_id
	where applications.id = @application_id
	group by messages.title
	order by sum(interactions.clicked) desc;

	RETURN @mensaje;

END

GO
/****** Object:  UserDefinedFunction [dbo].[mensaje_mas_enviado_por_sucursal]    Script Date: 31/05/2018 20:53:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[mensaje_mas_enviado_por_sucursal]
(@sucursal_id int)
RETURNS nvarchar(100)
AS
BEGIN
	-- Declare the return variable here
	DECLARE @mensaje nvarchar(100)

	SELECT @mensaje = messages.title
	from interactions
	inner join instance_message on instance_message.id = interactions.instance_message_id
	inner join messages on messages.id = instance_message.message_id
	inner join instances on instances.id = instance_message.instance_id
	inner join establishments on establishments.id = instances.establishment_id
	where establishments.id = @sucursal_id
	group by messages.title
	order by count(*) desc
	
	RETURN @mensaje;
END

GO
/****** Object:  UserDefinedFunction [dbo].[usuarios_alcanzados]    Script Date: 31/05/2018 20:53:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[usuarios_alcanzados](@application_id int)
RETURNS nvarchar(100)
AS
BEGIN
	declare @usuarios int;
	select @usuarios = count(users.id)
	from users
	inner join interactions on interactions.user_id = users.id
	inner join instance_message on instance_message.id = interactions.instance_message_id
	inner join messages on messages.id = instance_message.message_id
	inner join applications on applications.id = messages.application_id
	where applications.id = @application_id
	group by applications.name;
	RETURN @usuarios;

END

GO
/****** Object:  Table [dbo].[applications]    Script Date: 31/05/2018 20:53:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[applications](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[type] [int] NOT NULL,
	[company_id] [int] NOT NULL,
	[target] [int] NULL,
	[application_date] [date] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[companies]    Script Date: 31/05/2018 20:53:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[companies](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[phone_number] [nvarchar](50) NOT NULL,
	[email] [nvarchar](50) NOT NULL,
	[web_site] [nvarchar](100) NULL,
	[image] [nvarchar](200) NULL,
	[interior_number] [nvarchar](50) NULL,
	[outdoor_number] [nvarchar](50) NOT NULL,
	[street] [nvarchar](50) NOT NULL,
	[neighborhood] [nvarchar](50) NOT NULL,
	[municipality_id] [int] NOT NULL,
	[user_id] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[establishments]    Script Date: 31/05/2018 20:53:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[establishments](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[phone_number] [nvarchar](50) NULL,
	[interior_number] [nvarchar](50) NULL,
	[outdoor_number] [nvarchar](50) NOT NULL,
	[street] [nvarchar](50) NOT NULL,
	[neighborhood] [nvarchar](50) NOT NULL,
	[latitude] [nvarchar](50) NOT NULL,
	[length] [nvarchar](50) NOT NULL,
	[municipality_id] [int] NOT NULL,
	[company_id] [int] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[instance_message]    Script Date: 31/05/2018 20:53:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[instance_message](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[instance_id] [int] NOT NULL,
	[message_id] [int] NOT NULL,
	[active] [int] NOT NULL CONSTRAINT [DF_instance_message_active]  DEFAULT ((1))
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[instances]    Script Date: 31/05/2018 20:53:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[instances](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[type] [int] NOT NULL,
	[device_id] [nvarchar](50) NOT NULL,
	[active] [tinyint] NOT NULL,
	[establishment_id] [int] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[interactions]    Script Date: 31/05/2018 20:53:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[interactions](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[instance_message_id] [int] NOT NULL,
	[user_id] [int] NOT NULL,
	[clicked] [int] NOT NULL CONSTRAINT [DF_interactions_clicked]  DEFAULT ((0)),
	[interaction_date] [date] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[messages]    Script Date: 31/05/2018 20:53:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[messages](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](150) NOT NULL,
	[text] [nvarchar](500) NOT NULL,
	[type] [int] NOT NULL,
	[image] [nvarchar](150) NULL,
	[video] [nvarchar](150) NULL,
	[active] [tinyint] NOT NULL,
	[application_id] [int] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[municipalities]    Script Date: 31/05/2018 20:53:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[municipalities](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[number] [int] NOT NULL,
	[state_id] [int] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[states]    Script Date: 31/05/2018 20:53:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[states](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[abbrev] [nvarchar](50) NOT NULL,
	[country] [nvarchar](50) NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[users]    Script Date: 31/05/2018 20:53:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NULL,
	[first_lastname] [nvarchar](50) NULL,
	[second_lastname] [nvarchar](50) NOT NULL,
	[email] [nvarchar](50) NOT NULL,
	[password] [nvarchar](50) NOT NULL,
	[verified] [tinyint] NOT NULL CONSTRAINT [DF_users_verified]  DEFAULT ((0)),
	[type] [int] NOT NULL
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[applications] ON 

INSERT [dbo].[applications] ([id], [name], [type], [company_id], [target], [application_date]) VALUES (1, N'Promiciónes', 1, 1, 20, CAST(N'2018-03-01' AS Date))
INSERT [dbo].[applications] ([id], [name], [type], [company_id], [target], [application_date]) VALUES (2, N'Recorrido 1', 1, 2, 30, CAST(N'2018-03-01' AS Date))
INSERT [dbo].[applications] ([id], [name], [type], [company_id], [target], [application_date]) VALUES (3, N'Recorrido 2', 1, 2, 25, CAST(N'2018-04-01' AS Date))
SET IDENTITY_INSERT [dbo].[applications] OFF
SET IDENTITY_INSERT [dbo].[companies] ON 

INSERT [dbo].[companies] ([id], [name], [phone_number], [email], [web_site], [image], [interior_number], [outdoor_number], [street], [neighborhood], [municipality_id], [user_id]) VALUES (1, N'Gamer Shop', N'722789496', N'contacto@gamershop.com', N'gamershop.com', N'img.png', N'34', N'52', N'Calle de los canarios', N'Colonia del Valle', 1, 2)
INSERT [dbo].[companies] ([id], [name], [phone_number], [email], [web_site], [image], [interior_number], [outdoor_number], [street], [neighborhood], [municipality_id], [user_id]) VALUES (2, N'Museo del plastivco', N'7227259625', N'contacto@mp.com', N'museodelplastico.com', N'plastico.png', N'S/N', N'21', N'34 TS', N'Ramus', 20, 3)
INSERT [dbo].[companies] ([id], [name], [phone_number], [email], [web_site], [image], [interior_number], [outdoor_number], [street], [neighborhood], [municipality_id], [user_id]) VALUES (3, N'Tienda de Ropa', N'7548796584', N'cantacto@tienda.com', N'tienda.com', N'tienda.png', N'S/N', N'19', N'Sauces', N'Colonia Rios', 12, 8)
SET IDENTITY_INSERT [dbo].[companies] OFF
SET IDENTITY_INSERT [dbo].[establishments] ON 

INSERT [dbo].[establishments] ([id], [name], [phone_number], [interior_number], [outdoor_number], [street], [neighborhood], [latitude], [length], [municipality_id], [company_id]) VALUES (1, N'Sucursal Toluca', N'7224976548', N'13', N'S/N', N'Hda Del Peñòn', N'Piñas', N'-16548522', N'9774654', 20, 1)
INSERT [dbo].[establishments] ([id], [name], [phone_number], [interior_number], [outdoor_number], [street], [neighborhood], [latitude], [length], [municipality_id], [company_id]) VALUES (2, N'Museo', N'7224976823', N'12', N'S/N', N'Av. Revolociòn', N'Colonia Rosas', N'-16548522', N'9774654', 19, 2)
INSERT [dbo].[establishments] ([id], [name], [phone_number], [interior_number], [outdoor_number], [street], [neighborhood], [latitude], [length], [municipality_id], [company_id]) VALUES (3, N'Sucursal Lerma', N'7224896597', N'S/N', N'666', N'Calle encinos', N'Lerma', N'-984654321', N'-54321', 1, 1)
SET IDENTITY_INSERT [dbo].[establishments] OFF
SET IDENTITY_INSERT [dbo].[instance_message] ON 

INSERT [dbo].[instance_message] ([id], [instance_id], [message_id], [active]) VALUES (1, 1, 5, 1)
INSERT [dbo].[instance_message] ([id], [instance_id], [message_id], [active]) VALUES (2, 2, 6, 1)
INSERT [dbo].[instance_message] ([id], [instance_id], [message_id], [active]) VALUES (3, 3, 1, 1)
SET IDENTITY_INSERT [dbo].[instance_message] OFF
SET IDENTITY_INSERT [dbo].[instances] ON 

INSERT [dbo].[instances] ([id], [name], [type], [device_id], [active], [establishment_id]) VALUES (1, N'BC1', 1, N'x4568', 1, 1)
INSERT [dbo].[instances] ([id], [name], [type], [device_id], [active], [establishment_id]) VALUES (2, N'BC2', 1, N'x4567', 1, 1)
INSERT [dbo].[instances] ([id], [name], [type], [device_id], [active], [establishment_id]) VALUES (3, N'BC01', 1, N'xa4d61', 1, 2)
SET IDENTITY_INSERT [dbo].[instances] OFF
SET IDENTITY_INSERT [dbo].[interactions] ON 

INSERT [dbo].[interactions] ([id], [instance_message_id], [user_id], [clicked], [interaction_date]) VALUES (1, 1, 4, 1, CAST(N'2018-04-02' AS Date))
INSERT [dbo].[interactions] ([id], [instance_message_id], [user_id], [clicked], [interaction_date]) VALUES (2, 2, 4, 0, CAST(N'2018-04-08' AS Date))
INSERT [dbo].[interactions] ([id], [instance_message_id], [user_id], [clicked], [interaction_date]) VALUES (3, 3, 4, 1, CAST(N'2018-04-10' AS Date))
SET IDENTITY_INSERT [dbo].[interactions] OFF
SET IDENTITY_INSERT [dbo].[messages] ON 

INSERT [dbo].[messages] ([id], [title], [text], [type], [image], [video], [active], [application_id]) VALUES (1, N'Saturno devorando a su hijo', N'El cuadro Saturno devorando a su hijo o Saturno', 1, N'cuadro.png', NULL, 1, 2)
INSERT [dbo].[messages] ([id], [title], [text], [type], [image], [video], [active], [application_id]) VALUES (2, N'La maja desnuda', N'La maja desnuda es una de las más célebres obras de Francisco de Goya.', 1, N'maja.png', NULL, 1, 2)
INSERT [dbo].[messages] ([id], [title], [text], [type], [image], [video], [active], [application_id]) VALUES (3, N'David', N'El David es una escultura de mármol blanco de 5,17 metros? de altura y 5572 kilogramos de masa,? realizada por Miguel Ángel Buonarroti entre 1501 y 1504 por encargo de la Opera del Duomo de la catedral de Santa María del Fiore de Florencia.', 1, N'david.png', NULL, 1, 3)
SET IDENTITY_INSERT [dbo].[messages] OFF
SET IDENTITY_INSERT [dbo].[municipalities] ON 

INSERT [dbo].[municipalities] ([id], [name], [number], [state_id]) VALUES (1, N'Aguascalientes', 1, 1)
INSERT [dbo].[municipalities] ([id], [name], [number], [state_id]) VALUES (2, N'Asientos', 1, 2)
INSERT [dbo].[municipalities] ([id], [name], [number], [state_id]) VALUES (3, N'Calvillo', 1, 3)
GO
SET IDENTITY_INSERT [dbo].[municipalities] OFF
SET IDENTITY_INSERT [dbo].[states] ON 

INSERT [dbo].[states] ([id], [name], [abbrev], [country]) VALUES (1, N'Aguascalientes', N'Ags', N'MX')
INSERT [dbo].[states] ([id], [name], [abbrev], [country]) VALUES (2, N'Baja California', N'BC', N'MX')
INSERT [dbo].[states] ([id], [name], [abbrev], [country]) VALUES (3, N'Baja California Sur', N'BCS', N'MX')
SET IDENTITY_INSERT [dbo].[states] OFF
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([id], [name], [first_lastname], [second_lastname], [email], [password], [verified], [type]) VALUES (8, N'Alejandro Adrian', N'Valdez', N'Rojas', N'alejandro@gmail.com', N'123', 1, 1)
INSERT [dbo].[users] ([id], [name], [first_lastname], [second_lastname], [email], [password], [verified], [type]) VALUES (2, N'Jorge', N'Gòmez', N'Domìnguez', N'jorge@gmail.com', N'123', 1, 1)
INSERT [dbo].[users] ([id], [name], [first_lastname], [second_lastname], [email], [password], [verified], [type]) VALUES (3, N'Alberto', N'Escobar', N'Rojas', N'chavito@gmail.com', N'1234', 1, 1)
SET IDENTITY_INSERT [dbo].[users] OFF
USE [master]
GO
